<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPrLhI500yGOZl2Nn937ScPKyJts--CXU</string>
	<key>GCM_SENDER_ID</key>
	<string>782982781563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uthm.sportcbs.sportcbs2024</string>
	<key>PROJECT_ID</key>
	<string>sportcbs-224ae</string>
	<key>STORAGE_BUCKET</key>
	<string>sportcbs-224ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782982781563:ios:8541c55f80e1daa43360de</string>
</dict>
</plist>